<form action="/create" method="POST">

    <h2>Create ToDos</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label>Todo title</label>
    </div>

    <button type="submit" class="btn pink darken-4">Create</button>
</form>